{% load static %}
<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt="" /></a>
            <strong><a href="index.html"><img src="{% static 'img/logo/logosn.png' %}" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="homeApp.html">
               <span class="educate-icon educate-home icon-wrap"></span>
               <span class="mini-click-non">Home</span>
            </a>
                    </li>
                    <li>
                        <a class="has-arrow" title="Landing Page" href="#.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Classes</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="classes_list.html"><span class="mini-sub-pro">1st year</span></a></li>
                            <li><a title="Add Professor" href="classes_list.html"><span class="mini-sub-pro">2nd year</span></a></li>
                            <li><a title="Edit Professor" href="classes_list.html"><span class="mini-sub-pro">3rd year</span></a></li>
                            <li><a title="Professor Profile" href="classes_list.html"><span class="mini-sub-pro">4th year</span></a></li>
                            <li><a title="Professor Profile" href="classes_list.html"><span class="mini-sub-pro">all classes</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Marks</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="#"><span class="mini-sub-pro">1st year</span></a></li>
                            <li><a title="Add Professor" href="#"><span class="mini-sub-pro">2nd year</span></a></li>
                            <li><a title="Edit Professor" href="#"><span class="mini-sub-pro">3rd year</span></a></li>
                            <li><a title="Professor Profile" href="#"><span class="mini-sub-pro">4th year</span></a></li>
                            <li><a title="Professor Profile" href="#"><span class="mini-sub-pro">all-students</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Students</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="students_list.html"><span class="mini-sub-pro">All Students</span></a></li>
                            <li><a title="Add Students" href="add-student.html"><span class="mini-sub-pro">Add Student</span></a></li>
                            <li><a title="Edit Students" href="edit-student.html"><span class="mini-sub-pro">Edit Student</span></a></li>
                            <li><a title="Students Profile" href="{% url 'student_profile' %}"><span class="mini-sub-pro">Student Profile</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-students.html" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Faculties</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="faculty_list.html"><span class="mini-sub-pro">All Faculty</span></a></li>
                            <li><a title="Add Students" href="{% url 'addTeacher' %}"><span class="mini-sub-pro">Add Faculty</span></a></li>
                            <li><a title="Edit Students" href="edit-student.html"><span class="mini-sub-pro">Edit Faculty</span></a></li>
                            <li><a title="Students Profile" href="{% url 'teacher_profile' %}"><span class="mini-sub-pro">Faculty Profile</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Subjects</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Courses" href="subjecs_list.html"><span class="mini-sub-pro">All Subjects</span></a></li>
                            <li><a title="Add Courses" href="add-course.html"><span class="mini-sub-pro">Add Subject</span></a></li>
                            <li><a title="Edit Courses" href="edit-course.html"><span class="mini-sub-pro">Edit Subject</span></a></li>
                            <li><a title="Edit Courses" href="about_subject.html"><span class="mini-sub-pro"> Subject Info</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Time Table</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="time_table.html"><span class="mini-sub-pro">1st year</span></a></li>
                            <li><a title="Add Professor" href="time_table.html"><span class="mini-sub-pro">2nd year</span></a></li>
                            <li><a title="Edit Professor" href="time_table.html"><span class="mini-sub-pro">3rd year</span></a></li>
                            <li><a title="Professor Profile" href="time_table.html"><span class="mini-sub-pro">4th year</span></a></li>
                            <li><a title="Professor Profile" href="time_table.html"><span class="mini-sub-pro">all-classes</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">debarr list</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Information</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Inbox" href="mailbox.html"><span class="mini-sub-pro">Inbox</span></a></li>
                            <li><a title="View Mail" href="mailbox-view.html"><span class="mini-sub-pro">View Mail</span></a></li>
                            <li><a title="Compose Mail" href="mailbox-compose.html"><span class="mini-sub-pro">Compose Mail</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->
